<label>Server Name</label>
<!-- One way data binding -->
<input type = "text" class="form-control" (input)="onUpdateServerName($event)">
<p>{{serverName}}</p>

<!-- Two way data Binding -->
<label>Server Location</label>
<input type="text" class="form-control" [(ngModel)]="serverLocation">
<p>{{serverLocation}}</p>

<button class="btn btn-primary" [disabled]="!allowedNewServer" (click)="onCreateServer()">Add Server</button>
<hr>

<!-- Property binding -->
<p [innerText]="allowedNewServer"></p>

<!-- String interpolation -->
<p>{{allowedNewServer}}</p>

<!-- Event binding -->
<!-- <p>{{serverCreationStatus}}</p> -->
<!-- directives ngif -->
<p *ngIf="servercreated; else noServer">Server was created, server name is {{serverLocation}}</p>

<ng-template #noServer>
    <p>No server was created</p>
</ng-template>

<app-server>Loading ......</app-server>
<app-server>Loading ......</app-server>
